.container {
  display: flex;
}

.letter{
  background-color: #3498db;
  color : white;
  border: solid, 2px;
  margin: 10px;
  padding: 10px;
  font-style: bold;
  box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.24);
  font: Arial

}
